.wy-side-nav-search,
.wy-nav-top {
    background: rgb(50, 50, 50);
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #FF0000;
    font-size: 125%; /* converted from "large" */
    text-align: center;
    border-top: 0.1em solid #FF0000; /* converted from 2px */
    border-bottom: 0.1em solid #FF0000; /* converted from 2px */
    margin-bottom: 0.3em; /* converted from 6px */
}

.wy-side-nav-search input[type=text] {
    border-color: rgb(255, 0, 0);
}

h1 {
    color: rgb(131, 0, 0);
}