.wy-side-nav-search,
.wy-nav-top {
    background: rgb(50, 50, 50);
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #FF0000;
    font-size: 125%; /* converted from "large" */
    text-align: center;
    border-top: 0.1em solid #FF0000; /* converted from 2px */
    border-bottom: 0.1em solid #FF0000; /* converted from 2px */
    margin-bottom: 0.3em; /* converted from 6px */
}

html.writer-html4 .rst-content dl:not(.docutils)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple)>dt {
    background: #fae7e7;
    color: #b92929;
    border-top: 3px solid #de6a6a
}

.wy-side-nav-search input[type=text] {
    border-color: rgb(255, 0, 0);
}

a {
    color: #b92929;
}

a:visited {
    color: #b92929;
}

.wy-menu-vertical a {
    color: #d9d9d9;
}

h1 {
    color: rgb(131, 0, 0);
    text-align: center; 
    padding: 6px;
    border-bottom: rgb(131, 0, 0) solid 0.1em
}